header {
    background: #BBBBBB;
    padding: 20px 0; /*primeiro pracima e pra baixo, depois pra direita e esquerda)*/
}

.caixa {
    position: relative;
    width: 940px; /*largura comum utilizada na web*/
    margin: 0 auto; /*primeiro pra cima e pra baixo, depois pra direita e esquerda) o auto já faz a conta do meio (calcuila a largura restante, divide por dois e adiciona metade em cada lado*/
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin-left: 15px; /*ou margin: 0 0 0 15px; (topo, direita, baixo, esquerda)*/
}

nav a { /* e se eu colocasse essas informações de cor nos itens e não no link? Até pq o item da lista é o que está sendo mostrado, ja o link está dentro disso */
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block; /* n entendi direito o inline block*/
    text-align: center; /*n sei se seria mt útil pra mim*/
    width: 30%;
    vertical-align: top; /* antes disso tava um do lado do outro, porem feio pela discrepancia de tamanhos de imagem*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
}
/*era pra ter ficado um do lado do outro */

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 30px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.pedal-img {
    scale: 1;
    position: relative;
    width: 100%;
    padding: 5% 0;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin:20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: rgb(0, 217, 255);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 3s all;
    cursor: pointer;
}

.enviar:hover {
    background: blue;
    transform: scale(1.1)  rotate(720deg); 
    
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td,th {
    border: 1px solid #000000;
    padding: 8px 15px;
}